@model IEnumerable<QuanLyBanHang.Models.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>List Faculties</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success" })
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                Faculty ID
            </th>
            <th>
                Faculty Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FacultyId }, new {@class = "btn btn-warning"})
                    @Html.ActionLink("Delete", "Delete", new { id = item.FacultyId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
}

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $('#datatable').dataTable({})
    </script>
} 